$font_s:14px;
$border:1px solid white;
$box:border-box;
#header{
              height:125px;
                   >h1{
                          float:left;
                          height:100%;
                          width:316px;
                          background-image:url('../img/logo.png');
                   } 
                   >.img_logo{
                        float:right;
                        height:100%;
                        margin-right:69px;
                        width:294px;

                        >ul{
                            padding-top:$font_s;
                          
                            float:right;
                            box-sizing:border-box;
                            font-weight:bold;
                            font-size:
                            $font_s;
                    
                            >li{
                              float:left;
                              margin-right:$font_s*2;
                              line-height:20px;

                            a{
                                color:black;
                            }
                            >i{
                                display:inline-block;
                                height:18px;
                                width:18px;
                                vertical-align:middle;
                                background:url('../img/lipinghe.png');
                            }
                            >.zcyl{
                                >a{
                                    color:#FF0000;
                                }
                            }
                            }
                            >li:last-child{
                                margin-right:0;
                            }
                        }
                        >.logo_img{
                            margin-left:34px;
                            clear:both;
                            height:92px;
                            width:278px;
                            background-image:url('../img/gilr.png');
                            background-repeat:no-repeat;
                        }
                   }
                   >.nav{
                     float:left;
                     height:100%;
                     width:668px;
                      >ul{
                        padding-top:50px;
                        padding-left:98px;
                      }
                     >ul>li{
                            font-size:18px;
                            line-height:20px;
                            color:black;
                            font-weight:bold;
                            float:left;
                            margin-right:33px;
                            overflow:hidden;
                                >span{
                                    float:left;
                                    cursor:pointer;
                                }

                                >.isselect{
                                    box-sizing:border-box;
                                    width:30px;
                                    height:20px;
                                    border:4px solid #F1F1F1;
                                    border-radius:8px;
                                    margin-right:13px;
                                }
                                 .thefirst1{
                                  border-color:#FF6270;
                                }
                     }
                     >ol{
                        padding-left:98px;
                        padding-top:18px;

                        li{
                            color:#E5E5E5;
                            float:left;
                            font-size:12px;
                            font-weight:bold;
                            margin-left:9px;
                            line-height:24px;
                         }
                         li:first-child{
                            height:24px;
                            width:34px;
                            background-image:url('../img/nav_flag.png');
                            background-position:100% 100%;
                             }
                         }
                       }
     }

#container{
    float:left;
    width:1230px;
    

    #div_left{
        box-sizing:border-box;
        border:1px solid #E6E6E6;
        width:158px;
        float:left;
        height:1000px;
       h2{
            height:38px;
            text-align:center;
        border-bottom:1px solid #E6E6E6;

          span:first-child{
              font-size:14px;
              font-weight:bold;
              color:#8C8C8C;
          }
            span:last-child{
                color:#FFA2A2;
                font-weight:bold;
                font-size:12px;
                font-style:italic;
          }
       }

        dl{
            font-size:14px;
            font-weight:bold;
            padding-top:26px;
            padding-left:28px;
            line-height:24px;
            padding-bottom:26px;
            border-bottom:1px solid #E6E6E6;
            dd{
              color:#FF5363;

            }
            .l_dt3{
               padding-bottom:26px;
            }
            dt{
                a{
                  color:#8C8C8C;
                }
              span{
               color:#FFA2A2;
                font-weight:bold;
                font-size:12px;
                font-style:italic;
              }
            }
        }
        p{
          height:40px;
          border-bottom:1px solid #E6E6E6;
          line-height:40px;
          font-size:14px;
          font-weight:bold;
          
          text-align:center;
          a{
              color:#B2B2B2;
          }
        }
        .left_img1{
          height:228px;
          margin-top:18px;
          background:url('../img/l_img1.png') no-repeat;
          background-position:100% 100%;
        }
         .left_img2{
          height:228px;
          margin-top:18px;
          background:url('../img/l_img2.png') no-repeat;
          background-position:100% 100%;
        }
    }
    #div_right{
        overflow:hidden;
        padding-left:11px;
        border-left:1px solid #E6E6E6;

        
       >.first_div{
          height:880px;

          overflow:hidden;
          >.first_div_l{
            float:left;
            width:377px;
            border-right:1px solid white;
            div:first-child{
              height:550px;
              background:url('../img/first_img1.jpg') no-repeat;
            }
            div:last-child{
              height:330px;
              background:url('../img/first_img2.jpg');
            }
          }
          >.first_div_r{
              overflow:hidden;
             div{
              float:left;
              height:330px;
              width:33%;
              box-sizing:border-box;
              border:1px solid white;
            }
            div:nth-of-type(4){
              width:66%;
              height:222px;
            }
            div:nth-of-type(5){
              width:33%;
              height:222px;
            }
          }
       }
       >.second_div{
          div{
            float:left;
            height:218px;
            width:20%;
            box-sizing:$box;
            border:$border;
            margin-top:50px;

          }
       }
       >.div_r_h1{
          color:#858181;
          line-height:77px;
          font-size:18px;
          font-weight:bold;
          font-family:"华为新魏","宋体";
          text-align:center;
       }
       >.the_third_div,.the_fourth_div,>.the_third1_div{
          div{
            float:left;
            margin-right:32px;
            &._left{
              margin-right:0;
            }
            p{
              font-size:12px;
              line-height:22px;
              span._isspan{
                padding-right:5px;
                color:#FE7F7F;
              }
            }
            p:nth-of-type(1){
              color:#BED459;
              font-weight:bold;
              padding-top:18px;
            }
            p:nth-of-type(2){
              a{
              color:#999;
            }
              a:hover{
                text-decoration:underline;
                color:red;
              }
            }
            p:nth-of-type(3){
               a{
                   color:black;
                }

               a:hover{
                    text-decoration:underline;
                    color:red;
              }
            }
            p:nth-of-type(4){
              margin-bottom:52px;
                span:first-child{
                  text-decoration:line-through;
                }
                span:last-child{
                  color:#FE7200;
                }
              }

              img{
                width:240px;
              }
          }
       }
      >#last_logo{
          width:1100px;
          margin-left:-39px;
          height:220px;
          background:url('../img/last_logo.png') no-repeat;
          margin-bottom:65px;
      }
    }
}
#menu{
  overflow:hidden;
  
  height:600px;
  background:black;
}
#footer{
    height:420px;
    border-top:1px solid #CCCCCC;
    clear:both;
    .information{
        height:285px;
        margin:0 auto;
        border-bottom:1px solid #ccc;
         padding-top:53px;
        >div{
          float:left;
        }

        .infor1{
         
          width:438px;
          padding-left:20px;
          border-right:1px solid #ccc;
          height:250px;
            p{
              font-size:12px;
              line-height:18px;
              font-weight:bold;
              position:relative;
              .police{
                position:absolute;
                top:-3px;
                left:-9px;
                width:35px;
                height:25px;
                background:url('../img/police.png') no-repeat;
                background-size:100% 100%;
              }
            }
            p:nth-of-type(3){
              margin-top:25px;
            }
            p:nth-of-type(5){
              margin-top:25px;
              color:#ccc;
            }
              p:nth-of-type(6){
              color:#ccc;
            }
              p:nth-of-type(7){
               color:#ccc;
               padding-left:26px;
            }
          div{
            overflow:hidden;
              div{
                float:left;
                p:first-child{
                  font-size:12px;
                  color:#BCBCBC;
                  padding-top:6px;
                 
                }
                p:last-child{
                  font-size:26px;
                  font-weight:bold;
                }
              }
              div:last-child{
                  height:56px;
                  width:206px;
                  background:url('../img/liuyan.png');
              }
          }
        }
        .infor2{
          .indiv1{
            dl{
              float:left;
                color:#999999;
                margin-left:44px;
              dt{
                  font-size:14px;
                  font-weight:bold;
                  margin-bottom:30px;
              }
              dd{
                font-size:12px;
                line-height:24px;
                a{
                  color:#999999;
                  &:hover{
                    text-decoration:underline;
                  }
                }

              }
            }
          }
          .indiv2{
              margin-top:65px;
              margin-left:43px;
              div{
                float:left;
              }
             div:first-child{
                span>a{
               
                  padding:18px 8px;
                  background:#999;
                  font-size:12px;
                  color:white;
                  float:left;
                      &:hover{
                      text-decoration:underline;
                    }
                }
                span>input{
                  border: 0 none;
                  outline:none;
                  height:50px;
                  text-align:center;
                  color:#ccc;
                  width:175px;
                }
                span{
                  display:block;
                  border:1px solid #999;
                  float:left;
                  margin-right:5px;
                }
             }
             div:last-child{
                width:200px;
                height:51px;
               margin-left:27px;
                
                border:1px solid #ccc;
                p{
                  font-size:12px;
                  padding-left:27px;
                  color:#999;
                  padding-top:5px;
                }
             }
          }
        }
    }
    .footer_img{
      width:910px;
      height:58px;
      background:url('../img/footer_infor.png') no-repeat;
      background-size:100% 100%;
      margin: 10px auto;
    }
}
#scroll{
  height:0px;
  background:#393939;
  overflow:hidden;
  position:fixed;
  width:100%;
  z-index:1000;
  top:0;
  left:0;
  // display:none;
  >ul{
    float:left;
    >li{
      float:left;
       border-right:1px solid #585858;

      a{
        padding:0 12px;
        line-height:40px;
        font-size:16px;
          font-family:'黑体';
        color:#F0F0F0;
       
      }
    }
        li.theone{
          width:160px;
          height:40px;
          font-size:26px;
          line-height:40px;
          font-family:'华为新魏';
          color:white;
       }
  }

}
  .inputp{
      display:none;
      width:293px;
      height:52px;
      border:1px solid #E2E2E2;
      position:fixed;
      right:0;
      top:125px;
      background:white;
      z-index:10000;
      input{
        display:block;
        float:left;
        width:238px;
        height:50px;
        text-align:center;
        border:0 none;
      }
      span{
        float:left;
        border-left:1px solid #E2E2E2;
        line-height:52px;
        text-align:center;
        &:last-child{
          width:50px;
        }
      }
  }
      span.isclose{
            display:block;
            position:fixed;
            z-index:100000000000000;
            right:120px;
            top:125px;
            height:55px;
            width:21px;
            background:#D5D5D5;
            padding:0;
            line-height:55px;
            text-align:center;
            cursor:pointer;
        }
#aside{
  overflow:hidden;
  height:590px;
  width:120px;
  background:#F1F1F1;
  position:fixed;
  z-index:100000000000000;
  right:0;

  top:125px;
  .aside{
    width:100px;
    height:100%;
    background:#F4F4F4;
      p:first-child{
        position:relative;
  
          span{
          float:left;
          font-size:22px;
          color:#6A6A6A;
          padding:13px;
          border-right:1px solid #E2E2E2;
          border-bottom:1px solid #E2E2E2;
            cursor:pointer;
              &:hover{
            color:black;
          }
          

          }
          span:last-child{
            padding-right:16px;
            border-right:0 none;
          }
      }
      >ul{
        li{
            padding-top:20px;
            text-align:center;
            border-bottom:1px solid #E2E2E2;
            cursor:pointer;
            color:#6F6F6F;
              &:hover{
            color:black;
          }
          span{
              display:block;
              font-size:18px;
          }
          span:last-child{
              font-size:14px;
              margin-top:10px;
              margin-bottom:30px;

              i{
                font-style:normal;
              }

          }
        }
      }
      p.shaomiao{
          height:34px;
           border-bottom:1px solid #E2E2E2;
            line-height:34px;
            text-align:center;
            font-size:14px;
            font-weight:bold;
            color:#6F6F6F;
            cursor:pointer;
              &:hover{
            color:black;
          }
        }
      ol{
           padding-top:18px;
        li{
            &:hover{
            color:black;
          }
          line-height:24px;
          font-size:14px;
          color:#6F6F6F;
          font-weight:bold;
          position:relative;
          text-align:center;
          .tuijian{
            display:block;
            position:absolute;
            top:20px;
            left:61px;

            height:21px;
            width:37px;
            background:url('../img/tuijian.png') no-repeat;
          }
        }
        li:last-child{
          margin-top:34px;
            height:56px;
            background:url('../img/xiaohuiji.png');

        }
      }
    }
}
#top{
  height:34px;
  width:120px;
  background:url("../img/top.png") no-repeat;
  position:fixed;
  bottom:0;
  right:0;
  a{
    display:block;
    height:34px;
    width:100px;
  }
}
.istrue,.thetrue{
    color:red;
    font-size:12px;
    height:12px;

}
.thetrue{
  margin-top:78px;
  margin-bottom:10px;

}