#nav {
  height: 53px;
  border-top: 1px solid #E6E6E6;
}

#nav ul li {
  float: left;
}

#nav ul li .first_menu {
  height: 10px;
  width: 20px;
  background: url(../img/first_menu.png) no-repeat;
  background-size: 100% 100%;
  margin-top: 11px;
  margin-left: 127px;
  position: relative;
}

#nav ul li span {
  display: block;
  float: left;
  padding-top: 14px;
}

#nav ul li span .ismenu {
  padding-left: 0;
  font-weight: normal;
}

#nav ul li span a {
  display: block;
  padding: 0px 16px;
  font-size: 14px;
  color: #2B2B2B;
  font-weight: bold;
}

#nav ul li span a:hover {
  color: #33B0F0;
  text-decoration: underline;
}

#nav ul li span .last_a {
  border-right: 1px solid #bbb;
  padding-right: 35px;
}

#nav ul li span .first_a {
  padding-left: 35px;
}

#themenu {
  display: none;
  height: 542px;
  width: 1097px;
  border: 1px solid #BBBBBB;
  border-right: 0 none;
  position: absolute;
  background: #FFFFFF;
  top: 44px;
  left: 125px;
  z-index: 1000;
}

#themenu .themenu1 {
  border-right: 1px solid #BBBBBB;
  box-sizing: border-box;
  height: 100%;
  width: 25%;
  float: left;
}

#themenu .themenu1 a:hover {
  color: #33B0F0;
  text-decoration: underline;
}

#themenu .themenu1 h4 {
  height: 41px;
  line-height: 41px;
  font-size: 16px;
  color: black;
  font-weight: bold;
  background: #F2F2F2;
  margin-bottom: 30px;
  padding-left: 18px;
}

#themenu .themenu1 ul {
  float: left;
}

#themenu .themenu1 ul li {
  clear: both;
  margin-bottom: 72px;
  font-size: 12px;
}

#themenu .themenu1 ul li a {
  font-size: 12px;
  color: #2B2B2B;
  font-weight: bold;
  padding-left: 18px;
}

#themenu .themenu1 ol {
  width: 145px;
  float: right;
}

#themenu .themenu1 ol li {
  clear: both;
  line-height: 18px;
}

#themenu .themenu1 ol li a {
  font-weight: normal;
  display: block;
  font-size: 12px;
  color: #2B2B2B;
}

#themenu .themenu1 ol li .the_bottom {
  margin-bottom: 20px;
}

#the_float {
  float: left;
  position: relative;
  padding-bottom: 30px;
}

#the_float:hover #themenu {
  display: block;
}

#banner {
  height: 500px;
  width: 100%;
  overflow: hidden;
  position: relative;
  left: 0;
  z-index: 1;
}

#banner .isback {
  position: absolute;
  top: 50%;
  right: -30px;
  font-size: 34px;
  color: black;
  z-index: 100000;
  display: none;
}

#banner .isnext {
  position: absolute;
  top: 50%;
  left: -30px;
  font-size: 34px;
  color: black;
  z-index: 100000;
  display: none;
}

#banner .isdotted {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 100;
  display: none;
}

#banner .isdotted li {
  float: left;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid black;
  margin-left: 10px;
}

#Best {
  margin: 0 auto;
}

#Best h1 {
  padding-top: 52px;
  font-size: 18px;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-bottom: 26px;
}

#Best .theBest {
  display: flex;
  flex-wrap: wrap;
}

#Best .theBest div {
  border: 1px solid #E5E5E5;
  padding: 0 4px;
  margin-bottom: 44px;
  margin-right: 32px;
}

#Best .theBest div._left {
  margin-right: 0;
}

#Best .theBest div p {
  font-size: 12px;
  line-height: 22px;
}

#Best .theBest div p span._isspan {
  padding-right: 5px;
  color: #FE7F7F;
}

#Best .theBest div p:nth-of-type(1) {
  color: #BED459;
  font-weight: bold;
  padding-top: 18px;
}

#Best .theBest div p:nth-of-type(2) a {
  color: #999;
}

#Best .theBest div p:nth-of-type(2) a:hover {
  text-decoration: underline;
  color: red;
}

#Best .theBest div p:nth-of-type(3) a {
  color: black;
}

#Best .theBest div p:nth-of-type(3) a:hover {
  text-decoration: underline;
  color: red;
}

#Best .theBest div p:nth-of-type(4) {
  margin-bottom: 52px;
}

#Best .theBest div p:nth-of-type(4) span:first-child {
  text-decoration: line-through;
}

#Best .theBest div p:nth-of-type(4) span:last-child {
  color: #FE7200;
}

#Best .theBest div img {
  width: 240px;
}

#showCase {
  height: 500px;
  background: #F0D456;
}

#showCase .showCase {
  height: 100%;
  background: #F7E076;
  border-top: 1px solid #F7E076;
  margin: 0 auto;
}

#showCase .showCase .showimg {
  height: 414px;
  width: 1078px;
  background: url("../img/showcase.png") no-repeat;
  margin: 0 auto;
  margin-top: 52px;
  cursor: pointer;
}

#Arrivals {
  margin: 0 auto;
}

#Arrivals h1 {
  padding-top: 52px;
  font-size: 18px;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-bottom: 26px;
}

#Arrivals .Arrivals {
  display: flex;
  flex-wrap: wrap;
}

#Arrivals .Arrivals div {
  border: 1px solid #E5E5E5;
  padding: 0 4px;
  margin-bottom: 44px;
  margin-right: 32px;
}

#Arrivals .Arrivals div._left {
  margin-right: 0;
}

#Arrivals .Arrivals div p {
  font-size: 12px;
  line-height: 22px;
}

#Arrivals .Arrivals div p span._isspan {
  padding-right: 5px;
  color: #FE7F7F;
}

#Arrivals .Arrivals div p:nth-of-type(1) {
  color: #BED459;
  font-weight: bold;
  padding-top: 18px;
}

#Arrivals .Arrivals div p:nth-of-type(2) a {
  color: #999;
}

#Arrivals .Arrivals div p:nth-of-type(2) a:hover {
  text-decoration: underline;
  color: red;
}

#Arrivals .Arrivals div p:nth-of-type(3) a {
  color: black;
}

#Arrivals .Arrivals div p:nth-of-type(3) a:hover {
  text-decoration: underline;
  color: red;
}

#Arrivals .Arrivals div p:nth-of-type(4) {
  margin-bottom: 52px;
}

#Arrivals .Arrivals div p:nth-of-type(4) span:first-child {
  text-decoration: line-through;
}

#Arrivals .Arrivals div p:nth-of-type(4) span:last-child {
  color: #FE7200;
}

#Arrivals .Arrivals div img {
  width: 240px;
}

#promotion h1 {
  padding-top: 52px;
  font-size: 18px;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-bottom: 26px;
}

#promotion .promotion {
  height: 526px;
  margin: 0 auto;
  margin-bottom: 83px;
}

#promotion .promotion ul li {
  float: left;
  cursor: pointer;
}

#promotion .promotion .promotion_ul1 li {
  width: 50%;
  box-sizing: border-box;
  height: 300px;
  border: 1px solid white;
}

#promotion .promotion .promotion_ul1 li:first-child {
  background: url("../img/promotion1_1.jpg") no-repeat;
}

#promotion .promotion .promotion_ul1 li:last-child {
  background: url("../img/promotion1_2.jpg") no-repeat;
}

#promotion .promotion .promotion_ul2 {
  height: 226px;
}

#promotion .promotion .promotion_ul2 li {
  height: 100%;
  width: 20%;
  border: 0.5px solid white;
  box-sizing: border-box;
}

#weekly {
  margin: 0 auto;
}

#weekly h1 {
  padding-top: 52px;
  font-size: 18px;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-bottom: 26px;
}

#weekly .weekly {
  display: flex;
  flex-wrap: wrap;
}

#weekly .weekly div {
  border: 1px solid #E5E5E5;
  padding: 0 4px;
  margin-bottom: 44px;
  margin-right: 32px;
}

#weekly .weekly div._left {
  margin-right: 0;
}

#weekly .weekly div p {
  font-size: 12px;
  line-height: 22px;
}

#weekly .weekly div p span._isspan {
  padding-right: 5px;
  color: #FE7F7F;
}

#weekly .weekly div p:nth-of-type(1) {
  color: #BED459;
  font-weight: bold;
  padding-top: 18px;
}

#weekly .weekly div p:nth-of-type(2) a {
  color: #999;
}

#weekly .weekly div p:nth-of-type(2) a:hover {
  text-decoration: underline;
  color: red;
}

#weekly .weekly div p:nth-of-type(3) a {
  color: black;
}

#weekly .weekly div p:nth-of-type(3) a:hover {
  text-decoration: underline;
  color: red;
}

#weekly .weekly div p:nth-of-type(4) {
  margin-bottom: 52px;
}

#weekly .weekly div p:nth-of-type(4) span:first-child {
  text-decoration: line-through;
}

#weekly .weekly div p:nth-of-type(4) span:last-child {
  color: #FE7200;
}

#weekly .weekly div img {
  width: 240px;
}

#bigimg {
  height: 226px;
  margin: 0 auto;
  background: url("../img/big_img") no-repeat;
  margin-bottom: 60px;
}
